.compo{
    display: flex;
    align-items: baseline;
}
button{
    width: 100px;
    height: 100px;
    background-color: rgb(211, 211, 211);
    margin: 10px;
    border: 1px solid rgb(105, 105, 105);
}
span{
    font-size: 50px;
    margin: 10px;
    margin-bottom: 0;
}
.parent{
    display: flex;
flex-direction:column;
}
.compo2{
    display: flex;
    align-items: baseline;
}
.content{
    width: 50vw;
    background-color: red;
    word-wrap: break-word;
}
pre{
    font-size: 20px;


}
#text{
    word-break: break-all;
    width: inherit;
    word-wrap: break-word;
}